.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;

  @media (min-width: 768px) {
    padding: 16px 0;
  }
}

.information {
  color: var(--black);
  font-size: 12px;
  flex-basis: 0%;
  flex-grow: 1;
  min-width: 0;
}

.location {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 4px 4px 4px 0;

  svg {
    box-sizing: initial;
    height: 14px;
    width: 14px;
    fill: currentColor;
    margin-right: 4px;
    margin-bottom: 1px;
    flex-shrink: 0;
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.description {
  color: var(--gray);
  max-width: 400px;
  padding: 4px 4px 4px 0;
  display: flex;
}

.text {
  display: inline;
  margin: 0;
  padding: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text_unfold {
  color: var(--black);
  margin: 0;
  padding: 0 4px;
}

.unfold {
  background: none;
  border: none;
  color: currentColor;
  text-decoration: underline;
  display: block;
  padding: 0;
  flex-shrink: 0;
}

.button {
  color: var(--gray);
  background-color: var(--white);
  border: 1px solid var(--border-gray);
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
  transition: all 0.1s ease-in-out;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  fill: currentColor;

  &:hover {
    color: var(--black);
    border-color: var(--black);
  }

  svg {
    height: 15px;
    width: 15px;
  }

  span {
    margin-left: 6px;

    @media (max-width: 767px) {
      display: none;
    }
  }
}
