.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 800px;

  @media (min-width: 786px) {
    min-height: 70vh;
    max-height: 600px;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: min-content;
}

.image {
  position: absolute;
  width: auto;
  cursor: zoom-in;
  left: 0;
}
