.wrapper {
  padding: 0;
  margin: var(--columns-gap);
  width: 100%;

  @media (min-width: 768px) {
    width: calc(100% - var(--columns-gap));
    max-width: 1320px;
    margin: 0 auto;
  }
}

.item {
  width: 100%;
  list-style: none;
  box-sizing: content-box;

  @media (max-width: 767px) {
    margin: 20px 0;
  }

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1000px) {
    width: 33.33%;
  }
}
