.wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  overflow-x: hidden;
  position: relative;
}

.scroller {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::after,
  &::before {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100px;
  }
}

.scroller__backward_shadow::before {
  background: var(----gradient-right-to-left);
  left: 0;
  opacity: 1;
}

.scroller__forward_shadow::after {
  background: var(----gradient-left-to-right);
  right: 0;
  opacity: 1;
}

.topics {
  display: inline-flex;
}

.topic {
  color: var(--gray);
  width: 140px;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
  margin-left: 8px;

  a {
    border: 1px solid var(--border-gray);
    transition: border-color 0.1s ease-in-out;
    border-radius: 5px;
    display: block;

    &:hover,
    &:focus {
      color: var(--black);
      border-color: currentColor;
    }
  }

  &:first-child {
    margin-left: 0;
  }
}

.title {
  width: 140px;
  padding: 13px;
  font-size: 14px;
  line-height: 1;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: currentColor;
  box-sizing: border-box;
  transition: color 0.1s ease-in-out;
}

.button {
  color: var(--gray);
  position: absolute;
  padding: 0;
  outline: none;
  z-index: 2;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  fill: currentColor;
  cursor: pointer;

  &[hidden] {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--black);
  }

  &[hidden]::before {
    opacity: 0;
  }
}

.backward_button {
  left: 0;
  transform: rotate(180deg);
}
