.wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  overflow-x: hidden;
  position: relative;
}

.scroller {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::after, &::before {
    transition: opacity .2s ease-in-out;
    opacity: 0;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100px;
  }
}

.backward_shadow::before {
  left: 0;
  background: linear-gradient(270deg, hsla(0,0%,100%,0) 0, #fff 95%, #fff);
  opacity: 1;
}

.forward_shadow::after {
  right: 0;
  background: linear-gradient(90deg, hsla(0,0%,100%,0) 0, #fff 95%, #fff);
  opacity: 1;
}

.topics {
  display: inline-flex;
}

.topic {
  width: 140px;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
  margin-left: 8px;
  color: #767676;

  a {
    border: 1px solid #d1d1d1;
    transition: border-color .1s ease-in-out;
    border-radius: 5px;
    display: block;

    &:hover, &:focus {
      color: #111;
      border-color: currentColor;
    }
  }

  &:first-child {
    margin-left: 0;
  }
}

.title {
  width: 140px;
  padding: 13px;
  font-size: 14px;
  line-height: 1;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: currentColor;
  box-sizing: border-box;
  transition: color .1s ease-in-out;
}

.button {
  color: #767676;
  position: absolute;
  padding: 0;
  outline: none;
  z-index: 2;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  fill: currentColor;
  cursor: pointer;

  &[hidden] {
    display: none;
  }

  &:hover, &:focus {
    color: #111;
  }

  &[hidden]::before {
    opacity: 0;
  }
}

.backward_button {
  left: 0;
  transform: rotate(180deg);
}
