.form {
  color: var(--black);
  position: relative;
  display: flex;
  transition: all 0.1s ease-in-out;
  margin-top: 20px;

  &.minor {
    background-color: var(--background-gray);
    border-radius: 24px;
    height: 40px;
    border: 1px solid transparent;

    &:hover {
      background-color: var(--background-gray);
      border-color: var(--border-gray);
    }

    &:focus-within {
      background: var(--white);
      border-color: var(--border-gray);
    }
  }

  &.major {
    background-color: var(--background-gray);
    border-radius: 4px;
    height: 48px;

    &:focus-within {
      background: var(--white);
      box-shadow: 0 0 0 5px rgba(0 0 0 / 20%);
    }

    &:hover {
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
    }

    @media (min-width: 768px) {
      height: 54px;
    }
  }
}

.search,
.reset {
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: none;
  padding: 0;
  background: none;
  border: none;
  text-align: inherit;

  svg {
    fill: var(--gray);
    padding: 0 14px;
    transition: fill 0.1s ease-in-out;

    &:hover {
      fill: var(--black);
    }
  }
}

.reset {
  &[hidden] {
    display: none;
  }

  &.major {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.minor {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.search {
  &.major {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &.minor {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.combobox {
  display: flex;
  flex-grow: 1;
}

.input {
  color: var(--black);
  box-shadow: none;
  outline: none;
  padding-left: 12px;
  font-family: inherit;
  flex-grow: 1;
  width: 100%;
  background: none;
  border: none;
  outline-offset: -2px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--gray);
  }

  &:required {
    box-shadow: none;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}

.listbox {
  background: var(--white);
  border: 1px solid var(--border-gray);
  position: absolute;
  right: 0;
  left: 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  top: calc(100% + 4px);
  z-index: 1;
  font-size: 14px;

  &.hidden {
    visibility: hidden;
  }
}

.list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  width: 100%;
}

.item {
  color: var(--black);
  padding: 8px 16px;
  line-height: 1.4;
  max-width: 100%;
  cursor: pointer;

  &[aria-selected='true'] {
    background: var(--background-gray);
  }
}
