.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.author {
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  padding-bottom: 20px;
  cursor: pointer;
}

.name {
  font-size: 15px;
  line-height: 1.35;
  display: block;

  &:hover {
    color: var(--black);
  }
}

.username {
  color: var(--gray);
  font-size: 11px;
  letter-spacing: 0.02em;
  line-height: 1.35;
  display: block;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var(--black);
  }
}

.image {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
}

.collection {
  color: var(--gray);
  background-color: var(--white);
  border: 1px solid var(--border-gray);
  padding-left: var(--margin);
  padding-right: var(--margin);
  height: 32px;
  font-size: 14px;
  line-height: 30px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
  transition: all 0.1s ease-in-out;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  fill: currentColor;

  &:hover {
    color: var(--black);
    border-color: var(--gray);
  }

  svg {
    height: 15px;
    width: 15px;
  }
}

.collection_liked {
  color: var(--white);
  background-color: var(--red);
  border-color: var(--red);

  &:hover {
    color: var(--white);
    background-color: var(--claret);
    border-color: var(--claret);
  }
}
