.topic {
  margin-bottom: 16px;
  margin-left: 24px;
  font-size: 28px;
  line-height: 1.25;
  font-weight: 700;

  @media(min-width: 768px) {
    font-size: 46px;
    line-height: 1.2;
  }
}

.gallery_search {
  width: 50%;
  margin: 0 auto;
}
