.wrapper {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  div {
    padding-right: var(--small-margin);
    padding-bottom: var(--small-margin);
  }

  @media (min-width: 768px) {
    margin: var(--margin);
  }
}

.tag {
  background-color: var(--background-gray);
  color: var(--gray);
  padding-right: var(--small-margin);
  padding-left: var(--small-margin);
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.1s ease-in-out;
  text-transform: capitalize;
  line-height: 26px;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-background-gray);
    color: var(--black);
  }
}
