.wrapper {
  display: flex;
  justify-content: space-between;

}

.author {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.author__name {
  font-size: 15px;
  line-height: 1.35;
  display: block;

  &:hover {
    color: #111;
  }
}

.author__username {
  font-size: 11px;
  letter-spacing: .02em;
  line-height: 1.35;
  display: block;
  color: #767676;
  transition: color .1s ease-in-out;

  &:hover {
    color: #111;
  }
}

.author__image {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
}

.collection {
  color: #767676;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  transition: all .1s ease-in-out;
  text-align: center;
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  fill: currentColor;
  margin: 0 4px;

  &:hover {
    color: #111;
    border-color: #767676;
  }
}
