.details {
  z-index: -1;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
  min-width: 0;
  margin: auto;
  padding: 16px;
  cursor: auto;
}

.image_wrapper {
  width: min-content;
  margin: 0 auto;
}

.image {
  width: auto;
  height: 500px;
  cursor: zoom-in;
}

.info_wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  font-size: 14px;
  color: #111;
}

.buttons_wrapper {
  display: flex;
  justify-content: center;
}

.button {
  color: #767676;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 30px;
  margin: 4px;
  border-radius: 4px;
}
